<!Doctype html>
<Script>  Document   </Script>

<style> 
          background-color: green;
          font-color: 60px;
          font-family:Inverted Square;
          Border-size: 40px;

</Style>
<header>
<body>

<h3>  RiebeeckRand Skool </h3>
<hr>
<br>
<p2>  This morning things changed, RiebeeckRand is a blue and yellow chinese school them that are coming all the way from there to study. 
They will be welcoming and thoughtful as they will not be threating to the people inspect the fauls rumours that can be put  us, Randfonteinens. Overall, I want to be able to say that the uniform is navy blue and orange for those that are about to finish and be helpful... </p3> 
<br>
<li> Girl wear skirts blue </li>
<li> Boys wear grey pants </li>
<li> Teacher wear anything formal </li>
<br>
<p3> There is a greenish area that is well cut and is supporting the incoming childing that are going to be there. But RiebeeckRand they don't have any of these things,  trully a bad school overall. Another schools are similarly like this are not good at all. I also think it is a muslim school why it just makes be pause and wonder for too long.  </p3> 
<br> 
<h4> None fun School without playzone. </h4>
<hr>
<li> Elliot School </li>
<li> Ark Putney Academy (Muslim school)</li>
<li> Liverpool  university  (Muslim uni or Catholic )</li>
<li> Oxford university (Muslim uni  or  Catholic )</li> 
<br>
<br>
<h2> Christian schools </h2> 
<hr> 
<p3> The way things should gone was sad because  ZAC should have be checked on  to not be checked on for 
possibly spearding the virus to other people, but I have a hitch that he has so if he give it to Dalya, Dalya gave it too me, so the 
connection, means that deleberately gave it too you. So that's  the falicy that obtain the mistake of things that are wrong in life.  </p2>
Moving on with the day the ceremony was well hosted the people didn't do anything bad, besides lining up and creating the spectecle by recieving the merits that made sense to them. I was there on the male side waiting fot the announcement for the student that have succended to have the accomplish. </p3>
<br><br>
<input type = 'checkbox'> 
<input type = 'checkbox'> 
<input type = 'checkbox'> 
<input type = 'checkbox'> 


<br>
</body>
</header>
<feedback> Please send your feedback     </feedback>

<cite> Copyright Obamacare 2008/18 </cite>
</html>
